.login-page {

    min-height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;

    background: #f3f4f6;

}


.login-card {

    width: 430px;

    background: white;

    padding: 50px;

    border-radius: 18px;

    box-shadow:
        0 8px 28px
        rgba(
            0,
            0,
            0,
            0.06
        );

}


.login-title {

    color: #2750d8;

    font-size: 42px;

    font-weight: 700;

    margin-bottom: 10px;

}


.login-subtitle {

    color: #5d6677;

    margin-bottom: 35px;

}


.login-form {

    display: flex;

    flex-direction: column;

}


.login-form input {

    height: 56px;

    border:

        1px solid
        #d6d9df;

    border-radius: 12px;

    padding: 0 18px;

    font-size: 16px;

    margin-bottom: 18px;

    transition: 0.25s;

}


.login-form input:focus {

    outline: none;

    border-color:
        #2750d8;

    box-shadow:
        0 0 0 4px
        rgba(
            39,
            80,
            216,
            0.12
        );

}


.login-btn {

    margin-top: 10px;

    height: 58px;

    background:
        #2750d8;

    color: white;

    border: none;

    border-radius: 12px;

    font-size: 18px;

    font-weight: 600;

    cursor: pointer;

    transition: 0.25s;

}


.login-btn:hover {

    background:
        #1f45c5;

}


.login-btn:disabled {

    opacity: .6;

}


.register-btn {

    margin-top: 18px;

    width: 100%;

    background: transparent;

    border: none;

    color:
        #2750d8;

    font-size: 15px;

    cursor: pointer;

}


.register-btn:hover {

    text-decoration:
        underline;

}