.register-page {

    min-height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;

    background: #f3f4f6;

}


.register-card {

    width: 520px;

    background: white;

    padding: 50px;

    border-radius: 18px;

    box-shadow:
        0 10px 30px
        rgba(
            0,
            0,
            0,
            0.06
        );

}


.register-title {

    color: #2750d8;

    font-size: 42px;

    font-weight: 700;

    margin-bottom: 10px;

}


.register-subtitle {

    color: #5d6677;

    margin-bottom: 35px;

}


.register-form {

    display: flex;

    flex-direction: column;

}


.register-form input {

    height: 56px;

    padding: 0 18px;

    margin-bottom: 18px;

    border:
        1px solid
        #d7dbe3;

    border-radius: 12px;

    font-size: 15px;

    transition: .25s;

}


.register-form input:focus {

    outline: none;

    border-color:
        #2750d8;

    box-shadow:
        0 0 0 4px
        rgba(
            39,
            80,
            216,
            0.12
        );

}


.register-btn {

    margin-top: 10px;

    height: 58px;

    background:
        #2750d8;

    color: white;

    border: none;

    border-radius: 12px;

    font-size: 18px;

    font-weight: 600;

    cursor: pointer;

}


.register-btn:hover {

    background:
        #1f45c5;

}


.register-btn:disabled {

    opacity: .6;

}


.login-link {

    margin-top: 18px;

    width: 100%;

    border: none;

    background: transparent;

    color:
        #2750d8;

    cursor: pointer;

    font-size: 15px;

}


.login-link:hover {

    text-decoration:
        underline;

}